.topnav {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 3px 12px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
  }
  .topnav a:hover {
    background-color: darkcyan;
    color: black;
  }
  
  /* Style for the right-side buttons container */
  .topnav-right {
    float: right;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  /* Style for the buttons */
  .button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
.form-section {
    /* background-color: #f5f5f5; */
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 800px;
    margin: auto;
    font-family: Open Sans;
  }
  
  .form-title {
    font-size: 26px;
    margin-bottom: 20px;
    color: white;
    background-color: #0a1f23;
    height: 80px;
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
    text-transform: capitalize;
  }
  
  .field-section {
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    /* margin-top: 15px; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .field-label {
    font-size: 24px;
    margin-bottom: 20px;
    /* color: #333; */
    margin-left: -5px;
    /* border: solid green; */
  }
  
  .form-field {
    margin: 10px 0;
  }
  
  label {
    display: block;
    /* font-weight: bold; */
    /* color: #555; */
  }
  
  .text-field input, .date-field input, select {
    width: 75%;
    padding: 7px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
    /* font-size: 16px; */
    /* color: #333; */
  }
  
  .radio-field label, .checkbox-field label {
    margin-left: 20px;
    color: #555;
    
  }

  .radio-field{
    /* border: 2px solid green; */
    margin-left: 10px;
  }

  .checkbox-field{
    margin-left: 10px;
  }
  
  .options-container {
    /* margin-top: 3px; */
    display: flex;
    justify-self: start;
  }
  
  /* Style radio buttons and checkboxes */
  input[type="radio"],
  input[type="checkbox"] {
    transform: scale(1.2); /* Increase the size of radio buttons and checkboxes */
    margin-right: 10px;
  }
  
  /* Highlight radio button and checkbox labels on hover */
  label:hover {
    cursor: pointer;
    color: #007bff;
  }
  .btn-container{
    margin: auto;
    margin-left: 600px;
    padding: 10px;
    cursor: pointer;
    /* border: solid green; */
  }
  .btn{
    background-color: #007bff;
  }

  .print-image{
    height: 50px;
  }